body {
    text-align: center;
    margin: 0;
}

hr {
    border: dotted white 6px;
    border-bottom: none;
    width: 4%;
    margin-bottom: 100px auto;
}

.middle-container {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.cat { 
    width: 200px;
    border-radius: 50%; 
}

.intro {
    width: 35%;
    margin: auto;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1,1fr);
    width: 60%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

.cat-typing {
    width: 300px; 
}

.cat-reading {
    width: 300px; 
}


